
@{
    ViewBag.Title = "Confirmed Quote";
}
<br />
<h3>Quote Confirmation</h3>
<br />
@*Table with quote*@
<table class="table">
    <tr>
        <th>Assay</th>
        <th>Compound</th>
        <th>Estimated Price</th>


    </tr>
    <tr>
        <td>@ViewBag.Assay</td>
        <td>@ViewBag.Compound</td>
        <td>@ViewBag.Price</td>
    </tr>
    <tr>
</table>

