
@{
    ViewBag.Title = "ConfirmedQuote";
}

<h2>Quote Confirmation</h2>

<table class="table">
    <tr>
        <th>Assay</th>
        <th>Compound</th>
        <th>Estimated Price</th>


    </tr>
    <tr>
        <td>@ViewBag.Assay</td>
        <td>@ViewBag.Compound</td>
        <td>@ViewBag.Price</td>
    </tr>
    <tr>
</table>

