
@{
    ViewBag.Title = "Confirmed Quote";
}
<br />
<h3>Quote Confirmation</h3>
<br />
@*Table with quote*@
<table class="table">
    <tr>
        <th>Assay</th>
        <th>Compound</th>
        <th>Estimated Price</th>


    </tr>
    <tr>
        <td>@ViewBag.Assay</td>
        <td>@ViewBag.Compound</td>
        <td>@ViewBag.Price</td>
    </tr>
    <tr>
</table>

<br />
<br />

<div class="alert alert-warning" style="text-align: center">
    This is an estimated quote. We have sent your information to our lab technicians, and you will receive an exact quote within 1-2 business days.
</div>

