
@{
    ViewBag.Title = "Protocol";
}

<h2>Protocol Notebook</h2>
<p>Listed below is the detailed information for the Lipoxygenase Assay</p>
<table class="table">
    <tr>
        <th>Test #</th>
        <th>Test Name</th>
        <th>Test Description</th>
        
    </tr>
    <tr>
        <td>101</td>
        <td>Biochemical Pharmacology</td>
        <td>3-point primary screening; 6 wells</td>
    </tr>
    <tr>
        <td>106</td>
        <td>CustomScreen</td>
        <td>3-point primary screening; 2 wells</td>
    </tr>

    <tr>
        <td>109</td>
        <td>ProfilingScreen</td>
        <td>1-point primary screening; 1 well</td>
    </tr>
</table>

<a href="@Url.Action("Pharmacology", "Catalog")" class="button">Back</a>

