
@{
    ViewBag.Title = "Quote";
}
<br />
<h3>Quote</h3>
<br />
<p>You have requested a quote for the Lipoxygenase Assay, please select your compound below.</p>

@*Form for the user to select the compound and request a quote*@
@using (Html.BeginForm("ConfirmedQuote", "Catalog", FormMethod.Get))
{
    <p>Assay: @ViewBag.Assay </p>
    <p>Compound: @Html.DropDownList("Compound") </p>
    <br />
    <input type="submit" value="Request Quote">
}



