
@{
    ViewBag.Title = "Create";
}
@*Notifies the customer that a verification email has been email to them.
They will need to read the verification email to continue creating account.*@
<br />
<h2>Register</h2>
<br />
<p>Thank you for your submission.  We have sent a verification email to you.  
 Please verify that the information is accurate by clicking the link provided in that link.  
 After the account if verified, we will send you your temporary login information</p>

<a href="@Url.Action("index", "Home")" class="button">Home</a>