
@{
    ViewBag.Title = "CustAccount";
}

<h2>Customer Account</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Orders</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
    </div>
    <div class="panel-body">
        Edit Account Information
        Edti Payment Options
    </div>
</div>