@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@{
    ViewBag.Title = "CustAccount";
}
<br />
<h3 style="padding-left:12px;">Customer Account</h3>
<br />
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Recent Orders</h3>
        </div>
        <div class="panel-body">
            <h4>Pending</h4>
            <table class="table">
                <tr>
                    <th>Order Number</th>
                    <th>Compound</th>
                    <th>Assay Test</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>8675310</td>
                    <td>Carboxylate</td>
                    <td>Lipoxygenase</td>
                    <td>Received</td>
                    <td>@Html.ActionLink("View Order Details", "WorkOrderDetailsPending", "Customer")</td>
                </tr>
                <tr>
                    <td>8675310</td>
                    <td>Carboxylate</td>
                    <td>Abisdia Corymbifera</td>
                    <td>Received</td>
                    <td>@Html.ActionLink("View Order Details", "WorkOrderDetailsPending", "Customer")</td>
                </tr>


            </table>

            <h4>Completed</h4>
            <table class="table">
                <tr>
                    <th>Order Number</th>
                    <th>Completed Date</th>
                    <th></th>
                </tr>
                <tr>
                    <td>8675309</td>
                    <td>12/2/2016</td>
                    <td>@Html.ActionLink("View Details and Results", "WorkOrderDetails", "Customer")</td>
            </table>
        </div>
        <p style="padding-left:20px;"><a href="#">View Complete Order History</a></p>
    </div>
</div>

<div class="col-md-3">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Settings</h3>
        </div>
        <div class="panel-body">
            <p><a href="#">Edit Account Information</a></p>
            <p><a href="#">Update Preferences</a></p>
            <p><a href="#">Manage Payment Options</a></p>
        </div>
    </div>
</div>