@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@{
    ViewBag.Title = "Details";
}
<br />
<h3>Order #8675310 Details</h3>
<br />

<table class="table">
    <tr>
        <th>
            Compound Name
        </th>
        <th>
            Assay Name
        </th>
        <th>
            Protocol
        </th>
        <th>
            Test Code
        </th>
        <th>
            Scheduled Date
        </th>
        <th>
            Quote
        </th>
        <th>Status</th>
    </tr>


    <tr>
        <td>
            Carboxylate
        </td>
        <td>
            Lipoxygenase
        </td>
        <td>
            Laboratory
        </td>
        <td>
            BP
        </td>
        <td>
            11/27/16
        </td>
        <td>
            $100.00
        </td>
        <td>
            Received
        </td>
    </tr>

    <tr>
        <td>
            Carboxylate
        </td>
        <td>
            Abisdia Corymbifera
        </td>
        <td>
            Laboratory
        </td>
        <td>
            PS
        </td>
        <td>
            11/30/16
        </td>
        <td>
            $110.00
        </td>
        <td>
            Received
        </td>
    </tr>
</table>


