@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}@{
    ViewBag.Title = "New Work Order";
}


<link rel="stylesheet" type="text/css" href="~/Content/formbox.css">

<h3 style="text-align:center;">Create Work Order</h3>

<div class="col-md-12">
    <form class="cf">
        <div class="half left cf">
            <input class="center" type="email" id="input-email" placeholder="Customer ID">
            <input class="center" type="email" id="input-email" placeholder="Customer Name">
            <input class="center" type="text" id="input-subject" placeholder="Compound ID">
            <input class="center" type="text" id="input-subject" placeholder="Quantity">
            <input class="center" type="text" id="input-subject" placeholder="Date Arrived">
            <input class="center" type="text" id="input-subject" placeholder="Received By">
         </div>
         <div class="half right cf">
            <input class="center" type="text" id="input-subject" placeholder="Date Due">
            <input class="center" type="text" id="input-subject" placeholder="Reported Weight">
            <input class="center" type="text" id="input-subject" placeholder="Actual Weight">
            <input class="center" type="text" id="input-subject" placeholder="Molecular Mass">
            <input class="center" type="text" id="input-subject" placeholder="Maximum Tolerable Dose">
            <input class="center" type="text" id="input-subject" placeholder="Perform All Tests">
        </div>
        <input style="background:#e74c3c;" class="center" type="submit" value="Submit" id="input-submit">
    </form>
</div>


