@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
@{
    ViewBag.Title = "Work Orders";
}
<br />
<div class="row">
    <div class="col-md-3">
        <h3>Work Orders</h3>
    </div>
    <div class="col-md-3 col-md-offset-6">
        <br />
        <a class="btn btn-primary" style="float:right;" href="@Url.Action("CreateWorkOrder", "WorkOrder")">Create New Work Order</a>  
    </div>
</div>

<br />

<table class="table">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Scheduled Date
        </th>
        <th>
            Customer Name
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Status
        </th>
        <th>
            Comments
        </th>
        <th>
            Details/Results
        </th>
    </tr>


        <tr>
            <td>
                8675309
            </td>
            <td>
                12/01/2016
            </td>
            <td>
                Dave Chappelle
            </td>
            <td>
                Shawn Spencer
            </td>
            <td>
                Completed
            </td>
            <td>
                Rushed
            </td>
            <td>
                @Html.ActionLink("See Details/Update Results", "Results", "WorkOrder")
            </td>
        </tr>
    <tr>
        <td>
            8675310
        </td>
        <td>
            01/19/2017
        </td>
        <td>
            Dave Chappelle
        </td>
        <td>
            Benedict Cumberbatch
        </td>
        <td>
            Pending
        </td>
        <td>
            Rushed
        </td>
        <td>
            @Html.ActionLink("See Details/Update Results", "Results", "WorkOrder")
        </td>
    </tr>
    <tr>
        <td>
            8675311
        </td>
        <td>
            02/15/2017
        </td>
        <td>
            Burton Gusterd
        </td>
        <td>
            Zooey Deschanel
        </td>
        <td>
            Pending
        </td>
        <td>
            Discount Applied
        </td>
        <td>
            @Html.ActionLink("See Details/Upload Results", "Results", "WorkOrder")
        </td>
    </tr>

</table>



