
@{
    ViewBag.Title = "Index";
}
<br />
<h3>Work Orders</h3>
<br />

<table class="table">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Scheduled Date
        </th>
        <th>
            Hours Worked
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Status
        </th>
        <th>
            Comments
        </th>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
           
        </th>
        <th></th>
    </tr>


        <tr>
            <td>
                8675309
            </td>
            <td>
                12/15/2016
            </td>
            <td>
                27.5
            </td>
            <td>
                Shawn Spencer
            </td>
            <td>
                Pending
            </td>
            <td>
                Rushed
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>

            </td>
        </tr>


</table>


