@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
@{
    ViewBag.Title = "Reports";
}

@*a dynamaic view with links to available reports*@

<br />
<h3>Reports</h3>
<br />

<div class="row">
    <div class="col-md-4 report-title" style="text-align: center;">
        <button type="button" class="btn btn-primary btn-block report-button" style="margin: auto; height: 200px;"></button>
        Data Report
    </div>
    <div class="col-md-4 report-title" style="text-align: center;">
        <button type="button" class="btn btn-warning btn-block report-button" style="margin: auto; height: 200px;"></button>
        Summary Report
    </div>
    <div class="col-md-4 report-title" style="text-align: center;">
        <button type="button" class="btn btn-primary btn-block report-button" style="margin: auto; height: 200px;"></button>
        Customer Report
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 report-title" style="text-align: center;">
        <button type="button" class="btn btn-success btn-block report-button2" style="margin: auto; height: 200px;"></button>
        Profitability Report
    </div>
    <div class="col-md-4 report-title" style="text-align: center;">
        <button type="button" class="btn btn-success btn-block report-button2" style="margin: auto; height: 200px;"></button>
        Monthly Sales Report
    </div>
    <div class="col-md-4 report-title" style="text-align: center;">
        <button type="button" class="btn btn-success btn-block report-button2" style="margin: auto; height: 200px;"></button>
        Performance Report
    </div>
</div>
