@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
@{
    ViewBag.Title = "Details";
}
<br />
<h3>Order #8675309 Details</h3>
<br />

<table class="table">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Compound Name
        </th>
        <th>
            Assay Name
        </th>
        <th>
            Protocol
        </th>
        <th>
            Test Code
        </th>
        <th>
            Scheduled Date
        </th>
        <th>
            Date Completed
        </th>
        <th>
            Quote
        </th>
        <th>
            Actual Price
        </th>
        <th>
            Hours Worked
        </th>
        <th>
            Upload Results
        </th>
        <th>
            Results
        </th>
    </tr>


    <tr>
        <td>
            8675309
        </td>
        <td>
            Magnesium
        </td>
        <td>
            Lipoxygenase
        </td>
        <td>
            Laboratory
        </td>
        <td>
            BP
        </td>
        <td>
            11/27/16
        </td>
        <td>
            12/01/16
        </td>
        <td>
            $100.00
        </td>
        <td>
            $112.00
        </td>
        <td>
            11.2
        </td>
        <td>
            <a href="@Url.Action("UploadResults", "WorkOrder")" class="button">Raw Results</a>
        </td>
        <td>
            <a href="~/Content/img/ResultsExample.pdf" target="_blank">View Results</a>
        </td>
    </tr>
    
    <tr>
        <td>
            8675309
        </td>
        <td>
            Magnesium
        </td>
        <td>
            Abisdia Corymbifera
        </td>
        <td>
            Laboratory
        </td>
        <td>
            PS
        </td>
        <td>
            11/30/16
        </td>
        <td>
            12/01/16
        </td>
        <td>
            $110.00
        </td>
        <td>
            $110.00
        </td>
        <td>
            21.0
        </td>
        <td>
            <a href="@Url.Action("UploadResults", "WorkOrder")" class="button">Raw Results</a>
        </td>
        <td>
            <a href="~/Content/img/ResultsExample.pdf">View Results</a>
        </td>
    </tr>

    <tr>
        <td>
            8675309
        </td>
        <td>
            Phenolic
        </td>
        <td>
            Abisdia Corymbifera
        </td>
        <td>
            Laboratory
        </td>
        <td>
            PF
        </td>
        <td>
            12/02/16
        </td>
        <td>
            12/02/16
        </td>
        <td>
            $200.00
        </td>
        <td>
            $200.00
        </td>
        <td>
            30.0
        </td>
        <td>
            <a href="@Url.Action("UploadResults", "WorkOrder")" class="button">Raw Results</a>
        </td>
        <td>
            <a href="~/Content/img/ResultsExample.pdf">View Results</a>
        </td>
    </tr>


</table>
<button class="btn btn-success" style="float:right;">Download Billing Report</button>
<br />


