@model NWLabsSite.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<link rel="stylesheet" type="text/css" href="~/Content/formbox.css">

<div class="col-md-12">
    <h1>Register</h1>
    <form class="center cf">
        <div class="center right cf">
            <input type="text" id="input-Fname" placeholder="First Name">
            <input type="email" id="input-Lname" placeholder="Last Name">
            <input type="text" id="input-address" placeholder="Address">
            <input type="text" id="input-city" placeholder="City">
            <input type="text" id="input-state" placeholder="State">
            <input type="text" id="input-zip" placeholder="Zip Code">
            
            <input type="text" id="input-phone" placeholder="Phone Number">
            <input type="text" id="input-email" placeholder="Email">
            <a class="btn-default btn-block center right" id="input-submit" href="@Url.Action("Create", "Customer")">Submit</a>
        </div>
    </form>
</div>

