@model NWLabsSite.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<link rel="stylesheet" type="text/css" href="~/Content/formbox.css">

<div class="col-md-12">
    <h1>Register</h1>
    <form class="center cf">
        <div class="center right cf">
            <input class="center" type="text" id="input-Fname" placeholder="First Name">
            <input class="center" type="email" id="input-Lname" placeholder="Last Name">
            <input class="center" type="text" id="input-address" placeholder="Address">
            <input class="center" type="text" id="input-city" placeholder="City">
            <input class="center" type="text" id="input-state" placeholder="State">
            <input class="center" type="text" id="input-zip" placeholder="Zip Code">
            
            <input class="center" type="text" id="input-phone" placeholder="Phone Number">
            <input class="center" type="text" id="input-email" placeholder="Email">
            <br />
            <a class="btn btn-block center" id="input-submit" href="@Url.Action("Create", "Customer")" style="font-family: 'Merriweather', sans-serif; height: 45px; width: 94%; border-radius: 8px;">Submit</a>
        </div>
    </form>
</div>

