@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron my-jumbotron">
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>In The News</h2>
        <p>
            Northwest Labs was awarded the Head, Heart and Hands award for the 5th running for their exceptional work with compounds and children. 
            Read the whole story here.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest Technology</h2>
        <p>With the addition of a new information system in the upcoming year, Northwest Labs is looking to invest 5 million dollars in new technology.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reaching Out</h2>
        <p>Northwest Labs has joined forces with WHO (World Health Organization) to provide free research and testing on compounds found to contain Zika virus.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>