.myFooterText{
    text-align:left;
}

.my-jumbotron {
    padding-top: 400px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-image: url(../../Content/img/INTEXJumbotronWithButton-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    fill-opacity: inherit;
}

.my-jumbotron2 {
    padding-top: 400px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-image: url(../../Content/img/INTEXJumbotron-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    fill-opacity: inherit;
}

    .my-jumbotron p {
        margin-bottom: 15px;
        margin-left: 15px;
        font-size: 24px;
        font-weight: 200;
    }

#video-background { 
      position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        width:100%;
}
#h1{
    color:#000000;
}

.product{
     display: block;
     width: 100%;
     height: 100%;
     text-indent: -9999px;
}